@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(21, 21, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.heading{
    color: #ffffff;
    text-shadow: 2px 2px 20px #d2c31b;
}

.container{
    background-color: #9fa483;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
}
.main{
    align-self: flex-start;
    display: flex;
    align-items: center;
}
.main input{
    border: none;
    outline: none;
    font-size: 25px;
    font-style: italic;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.double{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}
.form-spending, .form-price{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 30px;
}
input{
    border: 2px solid rgb(240, 242, 241);
    border-radius: 10px;
    padding: 10px;
}

.btn{
    background-color: rgb(16, 181, 170);
    color: #fff;
    border-radius: 50%;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    scale: 0.95;
    transition: ease-out .5s;
    cursor: pointer;
}
.form-status{
    display: flex;
    align-items: center;
    gap: 10px;
}
.total{
    background-color: rgb(22, 22, 23);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}
.total span{
    color: yellow;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    overflow: auto;
}
.spending{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
   box-shadow: rgba(12, 26, 151, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    gap: 10px;
}
.buttons img{
    width: 50px;
    height: 50px;
}
.buttons img:nth-child(2){
width: 40px;
height: 40px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.spending h2:nth-child(2){
    color: rgb(126, 126, 12);
}
.payed{
    opacity: 0.5;
}
.payed h2:nth-child(2){
    color: rgb(0, 128, 49);
}
.payed h2:nth-child(1){
    text-decoration: line-through;
}